/*
    font-family: 'Raleway', sans-serif;

    100, 100I, 200, 200I, 300, 300I, 400, 400I, 500, 500I, 600, 600I, 700, 700I, 800, 800I, 900, 900I


    font-family: 'Source Code Pro', monospace;

    200, 200I, 300, 300I, 400, 400I, 500, 500I, 600, 600I, 700, 700I, 800, 800I, 900, 900I


    font-family: 'Source Sans Pro', sans-serif;

    200, 200I, 300, 300I, 400, 400I, 500, 500I, 600, 600I, 700, 700I, 800, 800I, 900, 900I


    font-family: 'Source Serif Pro', serif;

    200, 200I, 300, 300I, 400, 400I, 500, 500I, 600, 600I, 700, 700I, 800, 800I, 900, 900I


    font-family: 'Train One', cursive;

    400


    font-family: 'Ubuntu', sans-serif;

    300, 300I, 400, 400I, 500, 500I, 700, 700I

    ================================================================

    font-family: 'Bungee Shade', cursive;

    Drop-Shadowed Line


    font-family: 'Galada', cursive;

    Cursive Brighton-Style


    font-family: 'Kumar One', cursive;

    Blocky and Angular


    font-family: 'Rye', cursive;

    Western-y


    font-family: 'Sail', cursive;

    Bold Cursive


    font-family: 'UnifrakturMaguntia', cursive;

    Fraktur


    font-family: 'Vast Shadow', cursive;

    Drop-Shadowed Serif

    
    font-family: 'Monoton', cursive;

    Parallel Lines


    font-family: 'Press Start 2P', cursive;

    Pixels
*/

body {
    /*padding: 0%;*/
    margin: 0%;
    background-color: #fff;
    background-image: linear-gradient(to bottom right, #c71660, #b11a65, #3415bb, #0f7dbd);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px
}
.section {
    padding: 20px;
}
.section .heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 42px;
    margin-top: 0%;
}
.section p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}
.titlebreak {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}
.titlebreak::after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
.sec-1 {
    background-color: #fff;
    color: #323031;
    padding: 0%;
    margin: 0%;
}
.sec-2 {
    color: #fff;
    background-color: #00000000;
    padding: 0%;
    margin: 0%;
}
.sec-3 {
    background-color: #fff;
    color: #323031;
    padding: 0%;
    margin: 0%;
}
.sec-4 {
    color: #fff;
    background-color: #00000000;
    padding: 0%;
    margin: 0%;
}
footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: #fff;
    color: #323031;
    text-decoration: none;
    text-align: left;
}
footer .footer-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1px;
    grid-column-gap: 1px;
    grid-template-columns: repeat(6, 1fr)
}
footer .column {
    display: inline-grid;
    padding: 5px;
}
footer .footer-nav {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
footer .footer-nav a {
    color: #323031;
    text-decoration: none;
    text-align: left;
}
footer .footer-nav a:hover {
    color: #555154;
    text-decoration: underline;
}