body {
      background-color: black;
      font-family: raleway;
      color: white;
      cursor: cell;
    }
a {
  color: inherit;
  text-decoration: inherit;
}

.creditsLink:hover {
    color: #adadad;
    text-decoration: underline;
    cursor: help;
  }

.discord {
  color: #ffffff;
}

.discord:hover {
  color: #7289DA;
  text-decoration: underline;
  cursor: alias;
}

.operaLink {
  color: #ffffff;
}

.operaLink:hover {
  color: #FA1E4E;
  text-decoration: underline;
  cursor: alias;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}