@import url(/fonts/fonts.css);

:root {}

html {
}


body {
    background: linear-gradient(131deg, #0a0a19, #11121f, #171824, #1c1d2a, #323343);
    background-size: 300% 300%;

    -webkit-animation: DARK-BG-GRADIENT 31s ease infinite;
    -moz-animation: DARK-BG-GRADIENT 31s ease infinite;
    -o-animation: DARK-BG-GRADIENT 31s ease infinite;
    animation: DARK-BG-GRADIENT 31s ease infinite;

    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    /* background: rgb(0,0,20);
    background: -moz-linear-gradient(135deg, rgba(0,0,20,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(0,0,20,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(135deg, rgba(0,0,20,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000014",endColorstr="#000000",GradientType=1);*/
    background-attachment: fixed;
}

@-webkit-keyframes DARK-BG-GRADIENT {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@-moz-keyframes DARK-BG-GRADIENT {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@-o-keyframes DARK-BG-GRADIENT {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@keyframes DARK-BG-GRADIENT {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}

noscript > div.noscript-container {
    background-color: black;
    color: #ffffff;
    width: 100vw;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}


nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100vw;
    height: 8vh;
    background-color: #fff;
}


.hero {
    display: grid;
    grid-template-columns: 50vw 50vw;
}
.hero .intro {
    padding-left: 3vw;
}
.hero .intro h1 {
    margin-top: 17.5vh;
    font-family: 'Source Serif Pro', serif;
    font-size: 3vw;
    color: #fff;
    font-weight: 700;
}

.hero .intro .name {
    margin-top: 17.5vh;
    font-family: 'Source Serif Pro', serif;
    font-size: 6vw;
    color: #fff;
    background: linear-gradient(to bottom right, #9696AA, #EBEBFF, #FFFFFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.hero .intro .description {
    margin-top: 6vh;
    font-family: 'Source Serif Pro', serif;
    font-size: 2vw;
    color: #fff;
}


.signature-rotation-container {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

#initials {
    display: block;
    fill:none;
    width: 15vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    stroke: #fff;
}

#initial-k, #initial-o {
    stroke-linecap:round;
    fill: none;
    stroke-width:0.25vw;
}

#initial-o {
    stroke-dasharray: 398;
    animation: write-o 1s ease-in-out 2s both;
    -o-animation: write-o 1s ease-in-out 2s both;
    -moz-animation: write-o 1s ease-in-out 2s both;
    -webkit-animation: write-o 1s ease-in-out 2s both;
}

#initial-k {
    stroke-dasharray: 348;
    animation: write-k 1s ease-in-out 2s both;
    -o-animation: write-k 1s ease-in-out 2s both;
    -moz-animation: write-k 1s ease-in-out 2s both;
    -webkit-animation: write-k 1s ease-in-out 2s both;
}


@keyframes write-o {
    0% {
        stroke-dashoffset: 398;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes write-k {
    0% {
        stroke-dashoffset: 348;
    }
    50% {
        stroke-dashoffset: 348;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


.hero-subsection {
    width: 50vw;
    height: 100vh;
}


.section-title {
    font-family: 'Source Serif Pro', serif;
    color: #fff;
    text-align: center;
    font-size: 4vw;
    position: relative;
    bottom: -2vw;
}


.work-upper-wave {
    width: 100vw;
    height: auto;
    margin-bottom: -1vh;
}

.work-lower-wave {
    width: 100vw;
    height: auto;
    margin-top: -1vh;
}

.work {
    min-height: 50vh;
    width: 100vw;
    background-color: #fff;
}

.work-container {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10vw;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 0;
    align-items: center;
    justify-items: center;
}

.work-tile {
    height: 20vw;
    width: 15vw;
    border-radius: 16px;
    
    background: rgb(0,0,20);
    background: -moz-linear-gradient(135deg, rgba(0,0,20,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(0,0,20,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(135deg, rgba(0,0,20,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000014",endColorstr="#000000",GradientType=1);
    background-attachment: fixed;

    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.work-tile-image {
    width: 15vw;
    height: 15vw;
    border-radius: 16px 16px 0 0;
}

.work-tile-title {
    font-family: 'Source Serif Pro', serif;
    margin-left: 0.75vw;
    margin-top: 0.5vw;
    font-size: 1.5vw;
    color: #fff;
    transform: translateZ(30px);
}

.work-tile-description {
    font-family: 'Source Serif Pro', serif;
    margin-left: 0.75vw;
    margin-top: -1.5vw;
    font-size: 1vw;
    color: #fff;
    transform: translateZ(20px);
}

.work-link {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.25vw;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 0.1vw;
    border-radius: 20px;
    position: relative;
    color: #fff;
    fill: #fff;
    padding-top: 0.15vw;
    padding-bottom: 0.25vw;

    background: rgb(0,0,20);

    transition: 0.5s;
}

.work-link-a {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    width: 20vw;
}


.work-link:hover {
    cursor: pointer;
    background: #9696aa;
}



.behanceicon svg {
    height: 1.75vw;
    width: auto;
}

.behanceicon {
    display: inline-block;
    position: relative;
    top: 0.4vw;
    margin-right: 0.5vw;
}

.social-container {
    margin-top: 5vw;
    margin-bottom: 10vw;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto;
}

.social-container .social-button {
    /* background-color: #fff; */
    border-radius: 100%;
    padding: 1.5vw;
    width: 3.5vw;
    height: 3.5vw;

    background:#FFFFFF;
    transition: 0.25s;
}

.social-container .social-button .social-icon {
    width: 3.5vw;
    height: auto;
    fill: #000000;
    transition: 0.5s;
}

.social-container .social-button:hover > .social-icon {
    fill: #ffffff;
    transition: 0.5s;
}

.social-container .social-button:hover {
    /* background-color: #fff; */
    cursor: pointer;

    background: #9696AA;
}

/*======================================================================*//*RESPONSIVE DESIGN*/
/* Large desktop */
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .hero .intro h1 {
        font-size: 6vw !important;
    }
    
    .hero .intro .name {
        font-size: 8vw !important;
    }
    
    .hero .intro .description {
        font-size: 4vw !important;
    }
    
    .work-tile {
        height: 31vw;
        width: 25vw;
        border-radius: 22px;
    }

    .work-tile-image {
        width: 25vw;
        height: 25vw;
        border-radius: 22px 22px 0 0;
    }

    .work-tile-title, .work-tile-description {
        margin-left: 2vw;
    }

    .section-title {
        font-size: 7vw;
    }
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
    .hero .intro h1 {
        font-size: 7vw !important;
    }
    
    .hero .intro .name {
        font-size: 10vw !important;
    }
    
    .hero .intro .description {
        font-size: 5vw !important;
    }
        
    .work-tile {
        height: 28vw;
        width: 22vw;
        border-radius: 12px;
    }

    .work-tile-image {
        width: 22vw;
        height: 22vw;
        border-radius: 12px 12px 0 0;
    }
    
    .work-tile-title, .work-tile-description {
        margin-left: 2vw;
    }

    .section-title {
        font-size: 6vw;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    .hero .intro h1 {
        font-size: 6vw !important;
    }
    
    .hero .intro .name {
        font-size: 12vw !important;
    }
    
    .hero .intro .description {
        font-size: 6vw !important;
    }
    
    .work-tile {
        height: 27vw;
        width: 20vw;
        border-radius: 6px;
    }

    .work-tile-image {
        width: 20vw;
        height: 20vw;
        border-radius: 6px 6px 0 0;
    }

    .work-tile-title, .work-tile-description {
        margin-left: 2vw;
    }

    .section-title {
        font-size: 7vw;
    }


    .social-container {
        margin-top: 5vw;
        margin-bottom: 10vw;
        width: 15vw;
        row-gap: 3vw;
        grid-template-columns: auto;
    }
    
    .social-container .social-button {
        padding: 3vw;
        width: 8vw;
        height: 8vw;
    }
    
    .social-container .social-button .social-icon {
        width: 8vw;
        height: auto;
    }

    .work-link {
        font-size: 3vw;
        width: 50vw;
        padding-bottom: 1vw;
        border-radius: 20px;
        padding-top: 0.15vw;
    }
    
    .work-link-a {
        width: 50vw;
    }

    .behanceicon svg {
        height: 5vw;
        width: auto;
    }
    
    .behanceicon {
        top: 1vw;
        margin-right: 0.5vw;
        margin-left: 1vw;
    }
}

/*
TODO:
- Dark and light mode (button and media queries)
DONE:
- Responsive
- Prefers-reduced-motion
*/