:root {}

html {}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

noscript > div.noscript-container {
    background-color: black;
    color: #ffffff;
    width: 100vw;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#initials {
    width: 10vw;
    height: auto; 
    fill:none;
}

#initial-k, #initial-o {
    fill: none;
    stroke:#000000;
    stroke-width:2.64584vw;
}