:root {}

html {}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

noscript > div.noscript-container {
    background-color: black;
    color: #ffffff;
    width: 100vw;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}