body {
    margin: 0;
    padding: 0;
    background-color: #ff6666;
    transition-duration: 0.5s;
}

.maintitle {
    padding: 2vw;
}

.maindropdown {
    width: 20vw;
    height: 3vw;
    border: none;
    font-size: 2vw;
    color: #020063;
    background-color: #ff6666;
    transition-duration: 0.5s;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
}

.maintitle h1 {
    font-size: 2vw;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    .maintitle {
        padding: 2vw;
    }
    
    .maindropdown {
        width: 42vw;
        height: 7vw;
        font-size: 4vw;
    }
    
    .maintitle h1 {
        font-size: 4vw;
    }
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    .maintitle {
        padding: 2vw;
    }
    
    .maindropdown {
        width: 41vw;
        height: 6vw;
        font-size: 4vw;
    }
    
    .maintitle h1 {
        font-size: 4vw;
    }
}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    .maintitle {
        padding: 2vw;
    }
    
    .maindropdown {
        width: 40vw;
        height: 6vw;
        font-size: 4vw;
    }
    
    .maintitle h1 {
        font-size: 4vw;
    }
}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
    .maintitle {
        padding: 2vw;
    }
    
    .maindropdown {
        width: 30vw;
        height: 4.5vw;
        font-size: 3vw;
    }
    
    .maintitle h1 {
        font-size: 3vw;
    }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
    .maintitle {
        padding: 2vw;
    }
    
    .maindropdown {
        width: 20vw;
        height: 3vw;
        font-size: 2vw;
    }
    
    .maintitle h1 {
        font-size: 2vw;
    }
}